#top_navigation {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;

}

#top_navigation li a {
    padding: 10px;
    text-decoration: none;
    color: #7a7a7a; 
    font-size: 14px; 
    font-family:Arial, Helvetica, sans-serif;
    }

#google_logo {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;
}

#search_field {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

 /* Can also get element via id
#input_search {
    width: 70%;
    height: 40px; 
    border-radius: 20px; 
    border: 1px solid #cccccc;
}
*/

input[type=search] {
    width: 70%;
    height: 40px; 
    border-radius: 20px; 
    border: 1px solid #cccccc;
}

#input_search::placeholder {
    color: rgb(180, 180, 180); 
    
    
}
footer ul {
    padding: 20px;
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    list-style-type: none;
    background-color: #ececec;
    width: 100%; 
    position: absolute;
    bottom: 0; 
    
    
    
}

footer ul li a {
    
    padding: 50px;
    text-decoration: none;
    color: #7a7a7a; 
    font-size: 14px; 
    font-family: Arial, Helvetica, sans-serif;
}
